.without{
   text-decoration: none;
    font-size: 17px;
    font-weight: 640;
    color: #333;
}

.gip{

    text-align: center;
    font-size: 18px;
    font-weight: 620;
    color: #333;
}
